name: fake-news-env
channels:
  - conda-forge
  - defaults
dependencies:
  - appnope=0.1.4=pyhd8ed1ab_1
  - asttokens=3.0.0=pyhd8ed1ab_1
  - bzip2=1.0.8=h80987f9_6
  - ca-certificates=2025.1.31=hbd8a1cb_1
  - comm=0.2.2=pyhd8ed1ab_1
  - debugpy=1.8.11=py310h313beb8_0
  - decorator=5.2.1=pyhd8ed1ab_0
  - exceptiongroup=1.2.2=pyhd8ed1ab_1
  - executing=2.1.0=pyhd8ed1ab_1
  - importlib-metadata=8.6.1=pyha770c72_0
  - ipykernel=6.29.5=pyh57ce528_0
  - ipython=8.35.0=pyh907856f_0
  - jedi=0.19.2=pyhd8ed1ab_1
  - jupyter_client=8.6.3=pyhd8ed1ab_1
  - jupyter_core=5.7.2=pyh31011fe_1
  - libcxx=20.1.3=ha82da77_0
  - libffi=3.4.4=hca03da5_1
  - libsodium=1.0.18=h27ca646_1
  - matplotlib-inline=0.1.7=pyhd8ed1ab_1
  - ncurses=6.4=h313beb8_0
  - nest-asyncio=1.6.0=pyhd8ed1ab_1
  - openssl=3.5.0=h81ee809_0
  - parso=0.8.4=pyhd8ed1ab_1
  - pexpect=4.9.0=pyhd8ed1ab_1
  - pickleshare=0.7.5=pyhd8ed1ab_1004
  - pip=25.0=py310hca03da5_0
  - platformdirs=4.3.7=pyh29332c3_0
  - prompt-toolkit=3.0.51=pyha770c72_0
  - psutil=5.9.0=py310h80987f9_1
  - ptyprocess=0.7.0=pyhd8ed1ab_1
  - pure_eval=0.2.3=pyhd8ed1ab_1
  - pygments=2.19.1=pyhd8ed1ab_0
  - python=3.10.16=hb885b13_1
  - python-dateutil=2.9.0.post0=pyhff2d567_1
  - pyzmq=26.2.0=py310h313beb8_0
  - readline=8.2=h1a28f6b_0
  - setuptools=75.8.0=py310hca03da5_0
  - six=1.17.0=pyhd8ed1ab_0
  - sqlite=3.45.3=h80987f9_0
  - stack_data=0.6.3=pyhd8ed1ab_1
  - tk=8.6.14=h6ba3021_0
  - tornado=6.4.2=py310h80987f9_0
  - traitlets=5.14.3=pyhd8ed1ab_1
  - typing_extensions=4.13.2=pyh29332c3_0
  - wcwidth=0.2.13=pyhd8ed1ab_1
  - wheel=0.45.1=py310hca03da5_0
  - xz=5.6.4=h80987f9_1
  - zeromq=4.3.5=hebf3989_1
  - zipp=3.21.0=pyhd8ed1ab_1
  - zlib=1.2.13=h18a0788_1
  - pip:
      - absl-py==2.2.2
      - altair==5.3.0
      - astunparse==1.6.3
      - attrs==25.3.0
      - blinker==1.9.0
      - cachetools==5.5.2
      - certifi==2025.1.31
      - charset-normalizer==3.4.1
      - click==8.1.8
      - flatbuffers==25.2.10
      - gast==0.4.0
      - gitdb==4.0.12
      - gitpython==3.1.44
      - google-auth==2.39.0
      - google-auth-oauthlib==1.0.0
      - google-pasta==0.2.0
      - grpcio==1.71.0
      - h5py==3.13.0
      - idna==3.10
      - jinja2==3.1.6
      - joblib==1.4.2
      - jsonschema==4.23.0
      - jsonschema-specifications==2024.10.1
      - kaleido==0.2.1
      - keras==2.13.1
      - libclang==18.1.1
      - markdown==3.8
      - markupsafe==3.0.2
      - narwhals==1.35.0
      - nltk==3.9.1
      - numpy==1.24.3
      - oauthlib==3.2.2
      - opt-einsum==3.4.0
      - packaging==24.2
      - pandas==2.2.3
      - pillow==11.2.1
      - plotly==6.0.1
      - protobuf==4.25.6
      - pyarrow==19.0.1
      - pyasn1==0.6.1
      - pyasn1-modules==0.4.2
      - pydeck==0.9.1
      - pytz==2025.2
      - referencing==0.36.2
      - regex==2024.11.6
      - requests==2.32.3
      - requests-oauthlib==2.0.0
      - rpds-py==0.24.0
      - rsa==4.9.1
      - scikit-learn==1.6.1
      - scipy==1.15.2
      - smmap==5.0.2
      - streamlit==1.44.1
      - tenacity==9.1.2
      - tensorboard==2.13.0
      - tensorboard-data-server==0.7.2
      - tensorflow==2.13.0
      - tensorflow-estimator==2.13.0
      - tensorflow-macos==2.13.0
      - termcolor==3.0.1
      - textblob==0.19.0
      - threadpoolctl==3.6.0
      - toml==0.10.2
      - toolz==1.0.0
      - tqdm==4.67.1
      - typing-extensions==4.5.0
      - tzdata==2025.2
      - urllib3==2.4.0
      - werkzeug==3.1.3
      - wrapt==1.17.2
prefix: /opt/homebrew/anaconda3/envs/fake-news-env
